<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Raahede | Vue.js + Contentful + Netlify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-ios.min.css">

    <style type="text/css" media="screen">
      [v-cloak] { display: none; }
      table { width: 100%; }
      td.table-view-cell {
        padding-left: 0.25em;
        padding-right: 0.25em;
      }
      td.table-view-cell::first-child {
        padding-left: 0;
      }
      td.table-view-cell::last-child {
        padding-right: 0;
      }
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
      }
      .fade-enter, .fade-leave-active {
        opacity: 0
      }
    </style>
  </head>
  <body>
    <script type="text/x-template" id="recipe-list-template">
      <ul class="table-view" v-if="recipes">
        <li v-for="recipe in recipes.items" class="table-view-cell">
          <a is="router-link" v-bind:to="{ name: 'recipe', params: { entryId: recipe.sys.id, contentType: recipe.sys.contentType.sys.id }}" tag="a" class="navigate-right" active-class="active">{{recipe.fields.title}}</a>
        </li>
      </ul>
    </script>

    <script type="text/x-template" id="shopping-list-template">
      <ul class="table-view" v-if="favorites">
        <li v-for="favorite in favorites" :key="favorite.name" class="table-view-cell">
          {{favorite.fields.name}} <small>{{favorite.fields.amount}} {{favorite.fields.unit}}</small>
          <button v-on:click="removeFromFavorites(favorite)" class="btn btn-negative">
            <span class="icon icon-close"></span>
          </button>
        </li>
      </ul>
    </script>

    <script type="text/x-template" id="ingredient-template">
      <tr v-if="entry" class="table-view-cell">
        <td class="table-view-cell">
          <img class="embed-responsive-item" v-if="image" v-bind:src="image.fields.file.url + '?w=40&h=30'" v-bind:alt="image.fields.title">
        </td>
        <td class="table-view-cell">{{entry.fields.amount}}</td>
        <td class="table-view-cell">{{entry.fields.unit}}</td>
        <td class="table-view-cell">{{entry.fields.name}}</td>
        <td>
          <button v-if="!isFavorite" v-on:click="addToFavorites" class="btn">
            <span class="icon icon-star"></span>
          </button>
          <button v-if="isFavorite" v-on:click="removeFromFavorites" class="btn btn-positive">
            <span class="icon icon-star-filled"></span>
          </button>
        </td>
      </tr>
    </script>

    <script type="text/x-template" id="recipe-template">
      <div class="recipe" v-if="entry">
        <div class="slider" v-if="entry.fields.images">
          <div class="slide-group">
            <div class="slide">
              <img v-if="image" class="embed-responsive-item" v-bind:src="image.fields.file.url + '?h=200'" v-bind:alt="image.fields.title">
            </div>
          </div>
        </div>
        <div class="content-padded">
          <h3>{{entry.fields.title}}</h3>
          <table v-if="entry.fields.ingredients">
            <ingredient v-for="ingredient in entry.fields.ingredients" v-bind:entry-id="ingredient.sys.id"></ingredient>
          </table>
          <br>
          <div v-if="description" v-html="description"></div>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="converter-template">
      <div class="converter content-padded">
        <label><small>Ingrediens</small></label>
        <input type="search" placeholder="Search" v-model="ingredientName">
        <label><small>Mængde ({{sourceUnit}})</small></label>
        <input type="number" placeholder="Amount" v-model="sourceAmount">
        <label><small>Fra (enhed)</small></label>
        <input type="text" placeholder="Input unit" v-model="sourceUnit">
        <label><small>Til (enhed)</small></label>
        <input type="text" placeholder="Output unit" v-model="targetUnit">
        <label><small>Resultat ({{targetUnit}})</small></label>
        <input type="text" disabled="disabled" v-model="targetAmount">
        <button class="btn btn-positive btn-block" v-on:click="getConvertion">Convert</button>
      </div>
    </script>

    <div id="app">
      <header class="bar bar-nav">
        <a class="icon icon-list pull-left" is="router-link" v-bind:to="{ name: 'recipe-list'}"></a>
        <a class="icon pull-right" v-bind:class="{ 'icon-star-filled' : hasFavorites }" is="router-link" v-bind:to="{ name: 'shopping-list'}"></a>
        <h1 class="title" v-cloak>{{routeTitle}}</h1>
      </header>
      <div class="content">
        <router-view></router-view>
      </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <!-- build:js -->
    <script src="assets/js/app.js"></script>
    <!-- endbuild -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/js/ratchet.min.js"></script>
  </body>
</html>
